{% extends "elite_insider_ui/skeleton.html" %}
{% load static %}
{% block title %}Dashboard{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/guilds.css' %}">
{% endblock %}

{% block content  %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="content-container guild-config-container">
                <div class="dropdown guild-config-item">
                    <button class="btn ei-button-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Select a guild
                    </button>
                    <ul class="dropdown-menu" id="guild-dropdown-body"></ul>
                    <button id="btn-create-guild" class="btn ei-button-primary" type="button">Create Guild</button>
                </div>
                <div id="guild-config-body">
                    <div class="input-group guild-config-item">
                        <span class="input-group-text" id="basic-addon1">Guildname</span>
                        <input id="i-guild-name" type="text" class="form-control" placeholder="Guildname" aria-label="Guildname" aria-describedby="basic-addon1">            
                    </div>
                    <div class="input-group guild-config-item">
                        <span class="input-group-text">Guild Members (account-names split with newline.)</span>
                        <textarea id="guild-account-names" class="form-control" spellcheck="false" aria-label="With textarea" placeholder="Avatar.1234
        Betavar.1234"></textarea>
                    </div>            
                    <div class="input-group guild-config-item">
                        <button id="btn-save-guild" type="button" class="btn ei-button-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/guilds.js' %}">

</script>
{% endblock %}    