*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to top left,#0D324D, #7F5A83);
  height: 100vh;
  overflow: hidden;
}
.center{
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: #0D324D;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  color: white;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: linear-gradient(to left,#da0bda, #e162ea );
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
input[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: linear-gradient(to bottom left,#e14eca,#ba54f5,#e14eca);
  border-radius: 10px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
}
.signup_link{
  margin-top: 30px;
  text-align: center;
  font-size: 16px;
  color: #a6a6a6;
}
.signup_link a{
  color: #2691d9;
  text-decoration: none;
}
.signup_link a:hover{
  text-decoration: underline;
}

.legal_link{
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 16px;
  color: #a6a6a6;
}
.legal_link a {
  color: #2691d9;
  text-decoration: none;
}
.legal_link a:hover {
  text-decoration: underline;
}
.isometric-illustration {
  position: absolute;
  z-index: 5;
  right: 10%;
  bottom: 10%;
  width: 40%;
  height: auto;
  text-align: center;
}

.credit-footer-container {
  position: absolute;
  right: 2%;
  bottom: 2%;
}

.credit-footer {
  color: #a6a6a6;
  font-size: 12px;
  text-decoration: none;
  margin-top: 14px;
}

.app-title {
  position: absolute;
  top: 15%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.app-title span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30pt;
  text-shadow: 2px 2px #340cac;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: flip 1s normal;
  animation-delay: calc(.1s * var(--i));
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}